<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>
<body>
    <h2>Apache Poi Upload</h2>

    <form th:action="@{/poi/upload-excel}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xls,.xlsx"/>
        <button type="submit">업로드</button>
    </form>

    <form th:action="@{/poi/upload-excels}" method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept=".xls,.xlsx" multiple/>
        <button type="submit">업로드</button>
    </form>
</body>
</html>